* {
    color:rgb(39, 56, 150);
}

body {
    position: relative;
}

.bloco {
    width: 100%;
    height: 90px;
    margin-top: -150px;
    border: 1px rgb(39, 56, 150) solid;
    background: url("img/fundo.jpg");
    background-size: cover;
    box-shadow: 0px 0px 10px rgba(39, 56, 150, 0.5);
    font-size: 13px;
    font-family: "Cooper Black";
    border-radius: 3px;
    position: fixed;
}

.logo {
    width: 130px;
	margin: 0px auto;
    text-align: center;
}

#main {
	width: 90%;
	margin : 0px auto;
    margin-top: 15px;
}

#navbar-example {
    margin-top: -65px;
    width: 50%;
    margin-left: 20%;
    border: 1px rgb(39, 56, 150) solid;
    background: rgb(248, 249, 250);
    box-shadow: 0px 0px 10px rgba(39, 56, 150, 0.5);
    justify-content: space-evenly;
    border-radius: 3px;
    position: fixed;
}

h4 {
    text-align: center;
}

.textScroll {
    margin-top: 150px;
}

.topo {
    width: 50px;
    height: 50px;
    border-radius: 3px;
    background:rgb(0, 165, 255);
    position: fixed;
    bottom: 20px;
    right: 20px;
    text-align: center;
    color:rgb(248, 249, 250);
    font-size: 40px;
    opacity: 30%;
    transition: 0.5s;
}

.topo:hover {
    opacity: 100%;
}
/* inicio menu responsivo
@media(max-width:800px){
    .scroll {
       width: 100%;
    }
    nav {
        justify-content: space-evenly;
        border: 1px black solid;
    }
 }*/