* {
	font-family: Times New Roman;
    color: darkblue;
}

#conteudo {
    padding-top: 40px;
    background: #fff;
    margin: 0px auto;
    text-align: center;
}

.fita img {
    position: absolute;
    opacity: 80%;
    top: 35px;
    left: 48%;
    transform: rotate(-1.5deg);
    z-index: 1;
}

.logo img {
    width: 100px;
    transform: rotate(3deg);
}

h1 {
    margin: 0px 10px 0px 0px;
    font-size: 42px;
    float: right;
}

.bloco {
    margin: 0px auto;
    width: 100%;
    background-size: cover;
}

.text {
    padding: 0% 3% 0% 3%;
    text-align: center;
    margin: 0px auto;
    margin-top: 8%;
    font-size: 26px;
}

.text1 {
    padding: 0% 3% 0% 3%;
    text-align: center;
    margin: 0px auto;
    margin-top: 8%;
    background: rgb(0, 165, 255);
    font-size: 26px;
    box-shadow: 0px 0px 15px rgba(4, 52, 92, 0.5);
}

.logo {
    width: 520px;
    margin: 0px auto;
    padding: 15px;
    background: rgb(0, 165, 255);
    transform: rotate(3deg);
    border: 2px rgb(4, 52, 92) dotted;
    box-shadow: 0px 5px 5px rgba(4, 52, 92, 0.5);
}

span {    
    text-decoration: none;
}

.main {
	width: 90%;
	margin : 0px auto;
    margin-top: 15px;
    text-align: center;
}
.cartaoVisita {
    width: 410px;
    height: 320px;
    margin: 0px auto;
}

iframe {
    border-radius: 15px;
    width: 560px;
    height: 300px;
    box-shadow: 0px 8px 15px rgba(4, 52, 92, 0.5);
}

/* inicio menu responsivo */
@media(max-width:800px){
    iframe {
        margin-left: 0px;
        width: 100%;
        height: 250px;
    }
    
    .logo {
        margin: 0px auto;
    }
 }