* {
    color:rgb(39, 56, 150);
}

body {
    position: relative;
}

.bloco {
    width: 100%;
    height: 90px;
    margin-top: -150px;
    border: 1px rgb(39, 56, 150) solid;
    background: url("img/fundo.jpg");
    background-size: cover;
    box-shadow: 0px 0px 10px rgba(39, 56, 150, 0.5);
    font-size: 13px;
    font-family: "Cooper Black";
    border-radius: 3px;
    position: fixed;
}

.logo {
    width: 130px;
	margin: 0px auto;
    text-align: center;
}

#main {
	width: 90%;
	margin : 0px auto;
    margin-top: 15px;
}

#navbar-example {
    margin-top: 30px;
    width: 370px;
    left: 5px;
    justify-content: space-evenly;
    border-radius: 3px;
    position: fixed;
    z-index: 20;
}

@mixin list-group-item-variant($state, $background, $color) {
    .list-group-item-#{$background} {
      color: $red;
      background-color: $red;
  
      &.list-group-item-action {
        &:hover,
        &:focus {
          color: $white;
          background-color: $rgb(39, 56, 150);
        }
  
        &.active {
          color: $white;
          background-color: $rgb(39, 56, 150);
          border-color: $none;
        }
      }
    }
  }

.list-group {
    text-align: center;
}

h4 {
    text-align: center;
}

.textScroll {
    margin-top: 150px;
}

.topo {
    width: 50px;
    height: 50px;
    border-radius: 3px;
    background:rgb(0, 165, 255);
    position: fixed;
    bottom: 20px;
    right: 20px;
    text-align: center;
    color:rgb(248, 249, 250);
    font-size: 40px;
    opacity: 30%;
    transition: 0.5s;
}

.topo:hover {
    opacity: 100%;
}

/* Menu */
.menu {
    width: 20px;
    height: 530px;
    margin-top: -60px;
    position: relative;
    float: left;
    position: fixed;
}
  
.menu label {
    width: 100%;
    height: 100%;
    background: url("img/fundo.jpg");
    background-size: cover;
    opacity: 70%;
    position: absolute;
    transition: all .3s linear;
    border-radius: 5px;
    border: 1px rgb(39, 56, 150) solid;
    box-shadow: 0px 0px 10px rgba(39, 56, 150, 0.5);
    z-index: 3;
}

.menu label:hover {
    opacity: 95%;
}
  
#check {
    position: absolute;
    z-index: 1;
    display: none;
}
  
span b{
    top: 265px;
    left: 5px;
    position: absolute;
    color:rgb(39, 56, 150);
    font-size: 20px;
    transition: all .3s linear;
}

span {
    opacity: 0%;
    transition: all .3s linear;
    z-index: 1;
}

#check:checked ~ span b{
    left: 380px;
    transform: rotateY(180deg);
}

#check:checked ~ span {
    opacity: 100%;
}
  
#check:checked ~ label{
    width: 400px;
}

/* inicio menu responsivo
@media(max-width:800px){
    .scroll {
       width: 100%;
    }
    nav {
        justify-content: space-evenly;
        border: 1px black solid;
    }
 }*/