* {
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: darkblue;
}

#conteudo {
    padding-top: 40px;
    background: #fff;
    margin: 0px auto;
    text-align: center;
}

.logo img {
    float: left;
}

h1 {
    margin-top: 15px;
    font-size: 42px;
    text-align: left;
}

h2 {
    width: 100%;
}

.bloco {
    margin: 0px auto;
    width: 100%;
    background-size: cover;
}

.bloco1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 5% 3% 5% 3%;
    text-align: center;
    margin-top: 8%;
    background: rgb(0, 165, 255);
    border-radius: 15px;
    font-size: 26px;
    box-shadow: 0px 0px 15px rgba(4, 52, 92, 0.5);
}

.text {
    padding: 0% 3% 0% 3%;
    text-align: center;
    margin: 0px auto;
    margin-top: 8%;
    font-size: 26px;
}

.txt1 {
    width: 55%;
}

img {
    border: 1px dashed darkblue;
    border-radius: 15px;
}

.img {
    border: none;
}

.img1 {
    float: right;
    border-radius: 15px;
}

.img2 {
    width: 80px;
    height: 80px;
    background: url("img/2.2.png");
    background-size: cover;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.img3 {
    width: 80px;
    height: 80px;
    background: url("img/3.1.png");
    background-size: cover;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.cardDepoFrame {
    height: 550px;
    margin-top: 20px;
    background: rgb(234, 250, 255);
    border-radius: 15px;
    border: 1px solid darkblue;
    box-shadow: 0px 0px 15px rgba(4, 52, 92, 0.5);
}

.card {
    margin-top: -536px;
    width: 250px;
    padding: 5px 0px 5px 5px;
    float: left;
    background: rgb(4, 52, 92);
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    box-shadow: 0px 0px 5px rgba(4, 52, 92, 0.5);
}

.title {
    float: right;
    margin-top: -55px;
    color:rgb(0, 165, 255);
    padding-right: 5px;
}

.logo {
    position: fixed;
    width: 99%;
    height: 80px;
    margin-top: -8px;
    background-image: linear-gradient(to left, rgb(4, 54, 94), rgb(0, 165, 255));
    border: 2px rgb(4, 52, 92) dotted;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

span {    
    text-decoration: none;
}

.main {
	width: 90%;
	margin : 0px auto;
    margin-top: 15px;
    text-align: center;
}

iframe {
    margin-top: 100px;
    border-radius: 15px;
    box-shadow: 0px 8px 15px rgba(4, 52, 92, 0.5);
}


/* inicio menu responsivo */
@media only screen and (max-width:800px){
    iframe {
        margin-left: 0px;
        width: 100%;
        height: 250px;
    }

    .txt1 {
        width: 100%;
    }

    .img1 {
        float: none;
        margin-top: 0px;
    }
 }