* {
    color:rgb(39, 56, 150);
}

body {
    position: relative;
}

.bloco {
    width: 100%;
    height: 90px;
    border: 1px rgb(39, 56, 150) solid;
    background: url("img/fundo.jpg");
    background-size: cover;
    box-shadow: 0px 0px 10px rgba(39, 56, 150, 0.5);
    font-size: 13px;
    font-family: "Cooper Black";
    border-radius: 3px;
}

.logo {
    width: 130px;
	margin: 0px auto;
    text-align: center;
}

.main {
	width: 90%;
	margin : 0px auto;
    margin-top: 15px;
    text-align: center;
}

.scrollspy-example {
    width: 100%;
}

#navbar-example {
    margin-top: -130px;
    width: 370px;
    left: 15px;
    justify-content: space-evenly;
    border-radius: 3px;
    position: fixed;
    z-index: 20;
    opacity: 70%;
}

.list-group {
    text-align: center;
}

h4 {
    text-align: center;
}

.topo {
    width: 30px;
    height: 30px;
    border-radius: 3px;
    background:rgb(0, 165, 255);
    position: fixed;
    bottom: 20px;
    right: 20px;
    text-align: center;
    opacity: 30%;
    transition: 0.5s;
    box-shadow: 0px 5px 10px rgba(39, 56, 150, 0.9);
}

.topo:hover {
    opacity: 100%;
    width: 34px;
    height: 34px;
    right: 18px;
    bottom: 28px;
    box-shadow: 0px 10px 10px rgba(39, 56, 150, 0.9);
}

button {
    background: none;
    border: none;
    color:rgb(39, 56, 150);
}

/* Menu */
.menu {
    width: 30px;
    height: 30px;
    margin-top: 160px;
    position: relative;
    float: left;
    position: fixed;
}
  
.menu label {
    width: 100%;
    height: 100%;
    background: url("img/fundo1.jpg");
    background-size: cover;
    opacity: 70%;
    position: absolute;
    transition: all .3s linear;
    border-radius: 5px;
    border: 1px rgb(39, 56, 150) solid;
    box-shadow: 0px 5px 10px rgba(39, 56, 150, 0.7);
    z-index: 3;
}

.menu label:hover {
    opacity: 95%;
    width: 34px;
    height: 34px;
    box-shadow: 1px 15px 10px rgba(39, 56, 150, 0.7);
}
  
#check {
    position: absolute;
    z-index: 1;
    display: none;
}
  
span b{
    top: 0px;
    left: 5px;
    position: absolute;
    color:rgb(39, 56, 150);
    font-size: 20px;
    transition: all .3s linear;
}

span {
    pointer-events: none;
    opacity: 0%;
    transition: all .3s linear;
    z-index: 1;
}

#check:checked ~ span b{
    left: 390px;
    transform: rotateY(180deg);
}

#check:checked ~ span {
    pointer-events: fill;
    opacity: 100%;
}
  
#check:checked ~ label{
    width: 410px;
    height: 320px;
    margin-top: -150px;
    background: url("img/fundo.jpg");
    background-size: cover;
}

.cartaoVisita {
    width: 410px;
    height: 320px;
    margin: 0px auto;
}

.text {
    text-shadow: 0px 0px 15px rgba(0, 165, 255, 0.5);
}

/* inicio menu responsivo */
@media(max-width:800px){
    iframe {
        margin-left: 0px;
        width: 100%;
        height: 250px;
    }
 }