body {
    position: relative;
}

#conteudo {
    width: 100%;
    height: 100%;
}

.bloco {
    width: 100%;
    height: 80px;
    margin-top: -15px;
    border: 1px rgb(39, 56, 150) solid;
    background: rgb(0, 165, 255);
    box-shadow: 0px 0px 10px rgba(39, 56, 150, 0.5);
    border-radius: 3px;
    position: fixed;
}

.logo {
	width: 20%;
    margin: 0px auto;
}

#main {
	width: 90%;
    height: 520px;
	margin : 0px auto;
    margin-top: 15px;
}

#navbar-example {
    width: 20%;
    min-width: 170px;
    float: left;
    margin-top: 70px;
    border: 1px rgb(39, 56, 150) solid;
    background: rgb(248, 249, 250);
    box-shadow: 0px 0px 10px rgba(39, 56, 150, 0.5);
    border-radius: 3px;
    position: fixed;
}

.nav {
    width: 100%;
}

.scroll {
    padding-top: 10px;
    width: 65%;
    height: 500px;
    margin-top: 58px;
    float: right;
    position: absolute right;
}