* {
	font-family: Times New Roman;
    color: darkblue;
}

img {
    width: 80px;
    margin-left: 5px;
}

h1 {
    margin: 0px 10px 0px 0px;
    font-size: 32px;
    float: right;
}

.bloco {
    padding: 10% 0% 10% 0%;
    width: 100%;
    height: 100%;
    background: url("img/fundo.png");
    background-size: cover;
}

.bloco2 {
    margin-top: 10%;
    background: blue;
}

.bloco3 {
    margin-top: 10%;
    background: white;
}

.bloco4 {
    margin-top: 10%;
    background: pink;
}

.text {
    padding: 0% 3% 0% 3%;
    text-align: center;
    margin: 0px auto;
    width: 80%;
    font-size: 26px;
    text-shadow: 0px 0px 15px rgba(0, 0, 0, 1);
}

.logo {
    width: 430px;
    margin-left: 10px;
}

span {    
    text-decoration: none;
}

.main {
	width: 90%;
	margin : 0px auto;
    margin-top: 15px;
    text-align: center;
}
.cartaoVisita {
    width: 410px;
    height: 320px;
    margin: 0px auto;
}

iframe {
    border-radius: 15px;
    width: 560px;
    height: 300px;
    box-shadow: 0px 8px 15px rgba(4, 52, 92, 0.5);
}

/* inicio menu responsivo */
@media(max-width:800px){
    iframe {
        margin-left: 0px;
        width: 100%;
        height: 250px;
    }
 }