body {
    position: relative;
}

.bloco {
    width: 100%;
    height: 80px;
    margin-top: -150px;
    border: 1px rgb(39, 56, 150) solid;
    background: rgb(0, 165, 255);
    box-shadow: 0px 0px 10px rgba(39, 56, 150, 0.5);
    border-radius: 3px;
    position: fixed;
}

.logo {
	width: 20%;
    margin: 0px auto;
}

#main {
	width: 90%;
	margin : 0px auto;
    margin-top: 15px;
}

#navbar-example {
    margin-top: -65px;
    width: 90%;
    border: 1px rgb(39, 56, 150) solid;
    background: rgb(248, 249, 250);
    box-shadow: 0px 0px 10px rgba(39, 56, 150, 0.5);
    border-radius: 3px;
    position: fixed;
}

.textScroll {
    margin-top: 150px;
}

/* inicio menu responsivo
@media(max-width:800px){
    .scroll {
       width: 100%;
    }

    nav {
        justify-content: space-evenly;
        border: 1px black solid;
    }
 }*/